<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/todo.js"></script>
	<title>ToDo App</title>
</head>
<body>
	<div class="container">
		<div ng-controller="TodoCtrl" class="jumbotron" style="margin:50px auto; width: 60%;">
			<h1>Total Todos: {{getTotalTodos()}}</h1>
			<h2><em>Enter a todo in text box</em></h2>
			<ul class="list-unstyled">
				<li ng-repeat="todo in todos" style="font-size: 20px;">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form class="form-horizontal">
				<input style="height: 34px; padding: 5px; border-radius: 5px;" type="text" ng-model="formTodoText" ng-model-instant placeholder="Add todo">
				<button class="btn btn-primary" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
			</form>
			<br />
			<button class="btn btn-danger" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
		</div>
	</div>
</body>
</html> 